.contact {
  width: var(--siteWidth);
}

.title {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.twoColumns {
  display: flex;
}

.map {
  display: block;
  max-width: calc(var(--siteWidth) / 2);
  width: auto;
  height: auto;
}

.list {
  flex: 1 1 auto;
  margin-right: 2rem;
}

.item {
  margin-bottom: 0.5rem;
}

.type {
  font-weight: 300;
  letter-spacing: 0.03rem;
  display: inline-block;
  width: 5rem;
}

.value {
  white-space: pre-line;
}
