.galleryMenu {
  position: absolute;
  width: var(--siteWidth);
  height: calc(var(--siteWidth) / 3 * 2);
  z-index: 1;
  top: 0;
  left: 0;
}

.buttonLeft,
.buttonRight {
  all: initial;
  position: absolute;
  top: 0;
  width: 50%;
  height: calc(var(--siteWidth) / 3 * 2);
  display: inline-block;
  cursor: pointer;

  & svg {
    opacity: 0;
  }

  &:hover svg {
    opacity: 0.99;
  }
}

.buttonRight {
  text-align: right;
  right: 0;
}

.buttonLeft {
  left: 0;
}

.leftTriangle,
.rightTriangle {
  fill: #fff;
  stroke: var(--fontColor);
}

.leftTriangle {
  margin-left: 0.5rem;
}

.rightTriangle {
  margin-right: 0.5rem;
}
