.gallery {
  width: var(--siteWidth);
}

.image {
  z-index: 0;
  width: var(--siteWidth);
  height: calc(var(--siteWidth) / 3 * 2);
}

.caption {
  width: 100%;
  text-align: left;
  font-weight: 300;
  font-size: 0.8rem;
}

.threeColumns {
  display: flex;
}

.sideColumn {
  flex: 1 1 0;
}

.centerColumn {
  flex: 0 0 auto;
}
