.gallery {
  width: var(--siteWidth);
  height: calc(var(--siteWidth) / 3 * 2);
}

.image {
  position: absolute;
  z-index: 0;
  width: var(--siteWidth);
  height: calc(var(--siteWidth) / 3 * 2);
}

.menu {
  position: absolute;
}
