.container {
  height: var(--navigationHeight);
  width: 100vw;
  z-index: 100;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
}

.navigation {
  width: var(--siteWidth);
  display: flex;
  justify-content: space-between;
}

.title {
  line-height: var(--navigationHeight);
  flex: 0 0 auto;
  padding-right: 1rem;
}

.menu {
  height: var(--navigationHeight);
  flex: 0 0 auto;
  display: flex;
}

.item {
  height: var(--navigationHeight);
  line-height: var(--navigationHeight);
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  &:last-child {
    padding-right: 0;
  }
}
