.project {
  width: var(--siteWidth);
  padding-bottom: 4rem;
}

.title {
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.image {
  width: var(--siteWidth);
  height: calc(var(--siteWidth) / 3 * 2);
}

.text {
  width: 67%;
  display: inline-block;
  vertical-align: top;
  padding-right: 2rem;
  box-sizing: border-box;
  line-height: 1.5rem;
}

.specification {
  width: 33%;
  display: inline-block;
  vertical-align: top;
  padding-left: 2rem;
  box-sizing: border-box;
}

.item {
  width: 100%;
  padding-bottom: 0.5rem;
}

.label {
  width: 40%;
  text-align: left;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  letter-spacing: 0.03rem;
  display: inline-block;
  vertical-align: baseline;
  line-height: 0;
}

.value {
  width: 60%;
  text-align: right;
  display: inline-block;
  line-height: 1.5rem;
}
