.team {
  width: var(--siteWidth);
}

.title {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}

.subTitle {
  font-size: 1.3rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.twoColumns {
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
  margin-bottom: 1.5rem;

  & > img {
    width: 20%;
  }

  & > ul {
    margin-right: 2rem;
  }
}

.item {
  margin-bottom: 0.5rem;
}

.name {
  font-size: 1.3rem;
  line-height: 1.3rem;
  margin-bottom: 1rem;
}

.date {
  width: 15%;
  text-align: left;
  font-weight: 300;
  display: inline-block;
  vertical-align: top;
}

.event {
  width: 85%;
  display: inline-block;
}

.formerEmployee:not(:last-child)::after {
  content: ' | ';
}
