:root {
  --sideLength: calc((var(--siteWidth) - 12) / 4);
}

.thumb {
  height: var(--sideLength);
  width: var(--sideLength);
  flex: 0 0 auto;
  margin: 2px;
}

.title {
  position: absolute;
  text-decoration: none;
  z-index: 1;
  bottom: 0;
}

.image {
  position: absolute;
  height: var(--sideLength);
  width: var(--sideLength);
  z-index: 0;
}
